.overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 50%;
    left: 50%;

    width: 50rem;
    height: 77rem;
    padding: 5rem;

    border-radius: 7px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.close-button {
    position: absolute;
    right: 3rem;
    top: 3rem;

    width: 2rem;
    height: 2rem;

    color: #000;
    background-color: #FFF;
}


.modal-title {
    width: 44rem;
    height: 4.3rem;

    font-family: 'Rubik', sans-serif;
    color: black;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: normal;
}

.btns-flow-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45rem;
    height: 3.2rem;

    margin: 3rem 0;
    border: none;
}

.btn-inflow,
.btn-outflow {
    width: 24.5rem;
    height: 6rem;

    border-radius: 0.5rem;
    background-color: #B9B9B9;

    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    line-height: normal;
}

.btn-blue {
    background-color: #3A9FF1;
}

.btn-red {
    background-color: #FF576B;
}

.amount-username-labels,
.category-email-labels,
.date-password-labels,
.description-password-labels {
    width: 27rem;
    height: 3.2rem;

    color: #484848;
    font-size: 2.4rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: normal;
}

.btn-confirm-modal {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    width: 23.6rem;
    height: 4rem;

    margin-top: 3rem;
    border-radius: 0.5rem;
    background-color: #7978D9;

    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    line-height: normal;
}

select {}